In [1]:
%matplotlib inline 
import pandas as pd
from shapely.geometry import Point
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
import time
from citipy import citipy
api_key = "AIzaSyBko3hF5Q0Rs7Zy40NeQPh-zP5Mpt4Lm10"

In [84]:
wine_data_to_load = "/Users/kurtshiple/Desktop/Project1/projectcsvs/wine_data.csv"

wine_data = pd.read_csv(wine_data_to_load)

In [5]:
#This drops the duplicates
wine_data.drop_duplicates(subset=['winery'], inplace=True)

,country,points,price,title,variety,winery
0,Portugal,87,15.0,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
1,US,87,14.0,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
2,US,87,13.0,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
3,US,87,65.0,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
4,Spain,87,15.0,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

In [8]:
wine_data.count()

country    15843
points     15843
price      15843
title      15843
variety    15843
winery     15843
dtype: int64

In [9]:
wine_data = wine_data.reset_index(drop=True)
wine_data["winery"][0]

'Quinta dos Avidagos'

In [85]:
#Google Places Api to return coordinates for winery name. 15,843 calls took 5 hours.
#return rate:78.35005996339078%| results:12413
places = list(wine_data["winery"])
listofcountries = list(wine_data["country"])

lat = []
long = []
ticker=0
successticker = 0
wineryname = wine_data["winery"][ticker]
#country1=listofcountries[ticker]
n=5
for place in places[0:n]:

    #base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
    #formatted_address,name,
    url = f"https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={place}%20winery%20{listofcountries[ticker]}&inputtype=textquery&fields=geometry&key={api_key}"
    
    response = requests.get(url).json()
    #ticker=ticker + 1
    if response["status"] == "OK":
            #print(json.dumps(response, indent=4, sort_keys=True))
            print(f"|{(ticker/n)*100}% complete| {place}, {listofcountries[ticker]}| found")
            #print(response["candidates"][0]['geometry']['location']['lat'])
            lat.append(round(response["candidates"][0]['geometry']['location']['lat'],2))
            long.append(round(response["candidates"][0]['geometry']['location']['lng'],2))
            #print(f"Processing Record {ticker} of {n} | lat:{city} long:{}")
            #time.sleep(.000005)
            successticker+=1
    else:
            lat.append("NaN")
            long.append("NaN")
            print(f"|{(ticker/n)*100}% complete| {place}, {listofcountries[ticker]}| missing")

    ticker=ticker + 1
    time.sleep(.5)
print("--------------------------")
print("Data Retrieval is Complete")
print("--------------------------")
print(f"return rate:{(successticker/n)*100}%| results:{successticker}")

|0.0% complete| Quinta dos Avidagos, Portugal| missing
|20.0% complete| Rainstorm, US| missing
|40.0% complete| St. Julian, US| missing
|60.0% complete| Sweet Cheeks, US| missing
|80.0% complete| Tandem, Spain| missing
--------------------------
Data Retrieval is Complete
--------------------------
return rate:0.0%| results:0

In [86]:
#This zips the returned lat and long together to be received by citipy
#so it can search for nearby city.
result = zip(lat,long)
coordinates = list(result)

In [87]:
cities = []
for coordinate_pair in coordinates:
    lat1, long1 = coordinate_pair
    if type(coordinate_pair[0]) is float and type(coordinate_pair[1]) is float:
        city1 = citipy.nearest_city(lat1, long1)
        cities.append(city1.city_name)
    else:
        cities.append("No Info")

In [16]:
#This takes the lat,long, city and put it into dataframe
citydict = {"City": cities,
            "Lat": lat,
            "Lng": long,}
nearestcityinfo = pd.DataFrame(citydict)

      City  Lat  Lng
0  No Info  NaN  NaN
1  No Info  NaN  NaN
2  No Info  NaN  NaN
3  No Info  NaN  NaN
4  No Info  NaN  NaN

In [17]:
#This resets th the index so that it can be merged by index
wine_data = wine_data.reset_index(drop=True)

In [18]:
#merged dataset.
#This is the end result of the data with coordinates after 15,843 API calls

complete_data_set = pd.merge(wine_data, nearestcityinfo, left_index=True, right_index=True)

In [89]:
#Im having it imported here so as to not have to demonstrate a six hour
#API calling process
wine_data_to_load2 = "/Users/kurtshiple/Desktop/Project1/projectcsvs/wine_data_with_coord.csv"

wine_data_with_coords = pd.read_csv(wine_data_to_load2)

wine_data_with_coords1 = wine_data_with_coords.set_index('winery')
len(wine_data_with_coords)

12413

In [90]:
#This cell takes the average price and point score by winery and merges it 
#with the dataframe that was created through the API call
#This will allow us to colorcode our plots later by price or point score
winerypricemeandf = pd.DataFrame(wine_data.groupby('winery').price.mean())
winerypointsmeandf = pd.DataFrame(wine_data.groupby('winery').points.mean())

averagepriceandpointsbywinery = pd.merge(winerypricemeandf, winerypointsmeandf, left_index=True, right_index=True)
len(averagepriceandpointsbywinery)
winecoordsandaverages = pd.merge(wine_data_with_coords1, averagepriceandpointsbywinery, left_index=True,right_index=True)
del winecoordsandaverages['points_x']
del winecoordsandaverages['price_x']
winecoordsandaverages.columns = ['Country', 'Title','Variety','City','Lat','Lng','PriceAverage','PointsAverage']
# convert column "a" of a DataFrame
winecoordsandaverages["Price Average"] = pd.to_numeric(winecoordsandaverages["PriceAverage"])
winecoordsandaverages["Points Average"] = pd.to_numeric(winecoordsandaverages["PointsAverage"])
len(averagepriceandpointsbywinery)
winecoordsandaverages.head()

,Country,Title,Variety,City,Lat,Lng,PriceAverage,PointsAverage,Price Average,Points Average
winery,,,,,,,,,,
Quinta dos Avidagos,Portugal,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,peso da regua,41.18,-7.76,21.875000,87.625,21.875000,87.625
St. Julian,US,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,portage,42.21,-85.89,15.600000,85.500,15.600000,85.500
Sweet Cheeks,US,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,eugene,43.96,-123.28,28.611111,87.000,28.611111,87.000
Tandem,Spain,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,baranain,42.67,-1.95,43.125000,88.625,43.125000,88.625
Terre di Giurfo,Italy,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,grammichele,37.11,14.63,17.600000,87.800,17.600000,87.800

In [91]:
#This takes the resulting df and exports it to csv
winecoordsandaverages.to_csv("/Users/kurtshiple/Desktop/Project1/projectcsvs/winecoordsandaverages.csv", encoding='utf-8', index=False)